email-validator>=2.0.0
Flask>=2.2.3
Flask-Login>=0.6.2
Flask-SQLAlchemy>=3.0.3
fpdf>=1.7.2
gunicorn>=21.2.0
numpy>=1.24.3
opencv-python>=4.7.0.72
openpyxl>=3.1.2
pillow>=9.5.0
psycopg2-binary>=2.9.6
PyJWT>=2.6.0
python-dotenv>=1.0.0
SQLAlchemy>=2.0.7
weasyprint>=59.0
Werkzeug>=2.2.3
xlsxwriter>=3.1.0
python-dotenv