{% extends 'layout.html' %}

{% block title %}Semester Settings - Face Recognition Attendance System{% endblock %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-md-12 mb-4">
            <div class="card">
                <div class="card-header">
                    <h4 class="mb-0">Semester {{ semester_id }} Settings</h4>
                </div>
                <div class="card-body">
                    <form method="POST" action="{{ url_for('teacher.settings', semester_id=semester_id) }}">
                        <div class="row mb-4">
                            <div class="col-md-12">
                                <h5 class="border-bottom pb-2 mb-3">General Settings</h5>
                            </div>
                            
                            <div class="col-md-6 mb-3">
                                <div class="form-check form-switch">
                                    <input class="form-check-input" type="checkbox" id="allow_manual_attendance" name="allow_manual_attendance" 
                                           {% if semester_setting.allow_manual_attendance %}checked{% endif %}>
                                    <label class="form-check-label" for="allow_manual_attendance">
                                        Allow Manual Attendance
                                    </label>
                                </div>
                                <div class="form-text">If enabled, students will be able to mark attendance manually without face recognition.</div>
                            </div>
                        </div>
                        
                        <div class="row mb-4">
                            <div class="col-md-12">
                                <h5 class="border-bottom pb-2 mb-3">Notification Settings</h5>
                            </div>
                            
                            <div class="col-md-6 mb-3">
                                <div class="form-check form-switch">
                                    <input class="form-check-input" type="checkbox" id="setting_email_notifications" name="setting_email_notifications" 
                                           {% if semester_setting.additional_settings and semester_setting.additional_settings.get('email_notifications') %}checked{% endif %}>
                                    <label class="form-check-label" for="setting_email_notifications">
                                        Send Email Notifications
                                    </label>
                                </div>
                                <div class="form-text">Send email notifications to students when their attendance is marked or updated.</div>
                            </div>
                            
                            <div class="col-md-6 mb-3">
                                <div class="form-check form-switch">
                                    <input class="form-check-input" type="checkbox" id="setting_attendance_reminders" name="setting_attendance_reminders" 
                                           {% if semester_setting.additional_settings and semester_setting.additional_settings.get('attendance_reminders') %}checked{% endif %}>
                                    <label class="form-check-label" for="setting_attendance_reminders">
                                        Attendance Reminders
                                    </label>
                                </div>
                                <div class="form-text">Send reminders to students with low attendance.</div>
                            </div>
                        </div>
                        
                        <div class="row mb-4">
                            <div class="col-md-12">
                                <h5 class="border-bottom pb-2 mb-3">Attendance Thresholds</h5>
                            </div>
                            
                            <div class="col-md-6 mb-3">
                                <label for="setting_attendance_threshold" class="form-label">Minimum Attendance Percentage</label>
                                <input type="number" class="form-control" id="setting_attendance_threshold" name="setting_attendance_threshold" 
                                       min="0" max="100" value="{{ semester_setting.additional_settings.get('attendance_threshold', 75) }}">
                                <div class="form-text">Students below this percentage will be marked as having low attendance.</div>
                            </div>
                            
                            <div class="col-md-6 mb-3">
                                <label for="setting_warning_threshold" class="form-label">Warning Threshold Percentage</label>
                                <input type="number" class="form-control" id="setting_warning_threshold" name="setting_warning_threshold" 
                                       min="0" max="100" value="{{ semester_setting.additional_settings.get('warning_threshold', 85) }}">
                                <div class="form-text">Students below this percentage will receive a warning notification.</div>
                            </div>
                        </div>
                        
                        <div class="row mb-4">
                            <div class="col-md-12">
                                <h5 class="border-bottom pb-2 mb-3">Additional Settings</h5>
                            </div>
                            
                            <div class="col-md-6 mb-3">
                                <label for="setting_attendance_grace_period" class="form-label">Attendance Grace Period (minutes)</label>
                                <input type="number" class="form-control" id="setting_attendance_grace_period" name="setting_attendance_grace_period" 
                                       min="0" value="{{ semester_setting.additional_settings.get('attendance_grace_period', 15) }}">
                                <div class="form-text">Grace period after class start time when attendance can still be marked.</div>
                            </div>
                            
                            <div class="col-md-6 mb-3">
                                <div class="form-check form-switch">
                                    <input class="form-check-input" type="checkbox" id="setting_late_marking_allowed" name="setting_late_marking_allowed" 
                                           {% if semester_setting.additional_settings and semester_setting.additional_settings.get('late_marking_allowed') %}checked{% endif %}>
                                    <label class="form-check-label" for="setting_late_marking_allowed">
                                        Allow Late Marking
                                    </label>
                                </div>
                                <div class="form-text">If enabled, students can mark attendance after the grace period has expired (will be marked as late).</div>
                            </div>
                        </div>
                        
                        <div class="d-flex justify-content-end">
                            <button type="submit" class="btn btn-primary">
                                <i class="fas fa-save me-2"></i> Save Settings
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
